%a{href: import_path, class: 'btn btn-primary mb-2'}
  Import
%a{href: winners_path, class: 'btn btn-primary mb-2'}
  Winners
%a{href: networks_path, class: 'btn btn-primary mb-2'}
  Networks
%a{href: trashes_path, class: 'btn btn-primary mb-2'}
  Trashes
%a{href: histories_path, class: 'btn btn-primary mb-2'}
  Histories